<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="page-header">
    <h1><a href="#">Potato Castles</a></h1>
    <nav>
      <a href="#" class="material-icons">search</a>
      <a href="#">About</a>
      <a href="#">Account</a>
    </nav>
  </header>
  <div class="article">

    <div class="article-intro">
      <div class="article-intro-content">
      </div>
    </div>

    <div class="article-section">
      <h3> NAME </h3>
      <p>time / TIME </p>
      <p>
      DESCRIPTION
      </p>
    </div>

    <div class="article-section">
      <h3>ingredients</h3>
      <p>yield / YIELD </p>
      <ul>
      INGREDIENTS
      </ul>
    </div>

    <div class="article-section">
      <h3>method</h3>
      METHOD

      <p>authored 2018·03·05 by Vaughan Kitchen</p>
    </div>

  </div>

</body>
</html>
